<div class="d-flex flex-column">
  <div class="p-2">
    <a routerLink="/dashboard">
      <span i18n="@@sidebarHome">
        Home
      </span>
    </a>
  </div>
  <div class="p-2">
    <a routerLink="/routing-example">
      <span i18n="@@sidebarRouting">
        Routing Example
      </span>
    </a>
  </div>
  <div class="p-2">
    <a routerLink="/component-interaction">
      <span i18n="@@sidebarComponent">
        Component Interaction Example
      </span>
    </a>
  </div>
  <div class="p-2">
    <a routerLink="/lifecycle-hooks">
      <span i18n="@@sidebarLifecycleHooks">
        Lifecycle Hooks
      </span>
    </a>
  </div>
</div>