<!-- <div class="d-flex flex-column">
  <div class="p-2">
    <a class="nav-link" routerLink="/dashboard">Home</a>
  </div>
  <div class="p-2">
    <a class="nav-link" routerLink="/routing-example">Routing Example</a>
  </div>
  <div class="p-2">
    <a class="nav-link" routerLink="/component-interaction">Component Interaction Example</a>
  </div>
  <div class="p-2">
    <a class="nav-link" routerLink="/bootstrap">Bootstrap Examples</a>
  </div>
</div> -->

<nav class="nav flex-column">
  <a class="nav-link" routerLink="/dashboard"  routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="/routing-example" routerLinkActive="active">Routing Example</a>
  <a class="nav-link" routerLink="/component-interaction" routerLinkActive="active">Component Interaction Example</a>
  <a class="nav-link" routerLink="/bootstrap" routerLinkActive="active">Bootstrap Examples</a>
</nav>