<div class="d-flex">
  <div class="w-50 p-2">
    <div class="card">
      <div class="card-header text-center">
        <h5>Reactive Form Example</h5>
      </div>
      <div class="card-body">
        <app-reactive-example></app-reactive-example>
      </div>
    </div>
  </div>
  <div class="w-50 p-2">
    <div class="card">
      <div class="card-header text-center">
       <h5>Template Form Example</h5>
      </div>
      <div class="card-body">
        <app-template-example></app-template-example>
      </div>
    </div>
  </div>
</div>