<div class="card" *ngFor="let item of items | async">
  <div class="card-body">
    {{ item.test }}
    <button class="btn btn-danger btn-sm pull-right" (click)="deleteItem(item)">Delete</button>
  </div>
</div>

<div class="card pt-2">
  <div class="card-body">
    <form [formGroup]="dataForm">
      <div class="form-group">
        <label for="test">Test</label>
        <input class="form-control" formControlName="test" type="text" id="test">
      </div>
      <div class="form-group">
        <label for="test2">Test 2</label>
        <input class="form-control" formControlName="test2" type="text" id="test2">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn pull-right" (click)="addData()">Submit</button>
  </div>
</div>